body {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  background: white;
  color: black;
  font-family: Avenir;
  line-height: 1.8;
  font-size: 17px;
  margin-bottom: 2em;
}

pre {
  overflow-x: scroll;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  background-color: #ec0000;
  background-repeat: no-repeat;
  height: 2.75em;
  padding: 0 0.9375em;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  margin-bottom: 1em;
}

button:hover {

    background-color: #b50009;
}
